/** Scrolbar Styles for dark theme
    TODO: move these to css in js
 **/
 ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2828;  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #696666; 
}

/**
  Overide MUI style for progress bar color.
  Cannot achieve with css in js.
 **/
.MuiLinearProgress-barColorPrimary {
  background-color: #24A3A1 !important;
}

/**
  Overide MUI style for click hover effect on MUI autocomplete.
  Cannot achieve with css in js.
 **/
.MuiInput-underline:after {
  border-bottom: 2px solid #24A3A1 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
